<div class="container2">
    <div class="container">
      <p-card [ngStyle]="{minWidth: '80%'}">
        <ng-template pTemplate="header">
          <h2></h2>
        </ng-template>

        <ng-template pTemplate="content">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="row">
                <!-- section inputs -->
                <div>
                  <!-- section original input -->
                  <div class="p-field p-md-4">
                    <span class="p-float-label">
                        <input pInputText type="text"
                               id="original-input"
                              [(ngModel)]="originalInput" (keyup)="originalInputKeyUp()">
                        <label for="original-input">Input Text</label>
                    </span>
                  </div>
                  <!-- section converted input -->
                  <div class="p-field p-md-4">
                    <span class="p-float-label">
                        <input pInputText type="text"
                               id="converted-input"
                               [(ngModel)]="convertedInput" (keyup)="convertedInputKeyUp()">
                        <label for="converted-input">Converted Input</label>
                    </span>
                  </div>
                  <!-- section path input -->
                  <div class="p-field p-md-4">
                    <span class="p-float-label">
                        <input pInputText type="text"
                               id="path-input"
                               [(ngModel)]="pathInput">
                        <label for="converted-input">Path</label>
                    </span>
                  </div>
                  <div class="p-1 px-4">
                    <p-button label="Browse" class="display-inline" icon="pi pi-check" (click)="onBrowse()"></p-button>
                  </div>
                </div>
                <div class="p-1">
                  <h5>{{ headerMessage }}:</h5>
                </div>
                <!-- section matrix -->
                <table #solutionMatrix class="solution-matrix">
                  <tr *ngFor="let row of solverMatrix; let rowIndex = index" [attr.data-index]="row">
                    <td *ngFor="let cell of row; let colIndex = index" [attr.data-index]="cell">
                      <input pInputText type="text"
                             [(ngModel)]="solverMatrix[rowIndex][colIndex]"
                             [disabled]="true"
                             [style]="{'width': '100%'}">
                    </td>
                </table>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <!-- section solution steps -->
              <div class="solution-container">
                <h3 *ngIf="solutionSteps.length > 0">Solution steps:</h3>
                <div class="solution-matrix">
                  <ol>
                    <li *ngFor="let step of solutionSteps">
                      <p>{{step}}</p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
</div>
